:root {
  --background: #d6e9cd;
}

body {
  position: relative;
  background: var(--background);
  font-family: "Merriweather", serif;
  padding: 0px;
  margin: 0px;
  margin-top:50px;
  border: 0px;
  display: block;
  z-index:0;
}
h1{
  line-height: 1;
}
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.5;
}
h1 {
  padding: 0;
  margin: 0;
  border: 0px;
  display: block;
  font-size: 5.625rem;
  font-family: "Sacramento", cursive;
  text-align: center;
  color: #132c33;
}
.skill-img {
  display: inline-block;
  width: 150px;
  height: 150px;
  padding: 10px;
}
h2 {
  z-index: 1;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
}
h3 {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}
p {
  font-family: "Merriweather", serif;
  color: #787b7c;
}
#mountains {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#abhi {
  display: block;
  text-align: center;
  box-sizing: content-box;
}
#dev {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
  border: 0 0 0 0;
  bottom: 35px;
}
.top-container {
  position: relative;
  padding-top: 50px;
  position: relative;
  margin-bottom: 50px;
  z-index: -1;
}
.middle-container {
  display: block;
  position: relative;
  padding-top: 50px;
  position: relative;
  margin-bottom: 50px;
  z-index: -1;
}

.bottom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 50%; */
  /* margin-left: auto;
  margin-right: auto; */
  /* position: relative; */
  /* padding-top: 50px;
  position: relative;
  margin-bottom: 50px;
  z-index: -1; */
}

.contributes {
  font-size: 9px;
  padding: 0;
  /* text-align: right; */
}

.img-icon {
  width: 30px;
  height: 30px;
}

#container-logo {
  margin-left: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 90px;
  position: absolute;
  z-index: 1;
}

#logo-circle {
  padding: 0;
  border: 0;
  margin: 0;
  background-color: #8aa874;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#A {
  font-size:inherit;
  z-index: 1;
  padding: 0;
  margin: 0;
}

header {
  z-index: 1;
  position: fixed;
  background-color: #132c33;
  width: 100%;
  height: 60px;
  top: 0;
}

nav {
  margin-left: 20px;
}

.skill-row {
  min-height: 240px;
  width: 50%;
  position: relative;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.float-left {
  /* border-radius: 3px; */
  /* border: 2px solid #8aa874; */
  height: 230px;
  width: 220px;
  position: relative;
  float: left;
  padding: 10px;
}
.float-right {
  /* border-radius: 3px; */
  /* border: 3px solid #8aa874; */
  position: relative;
  float: right;
  margin-bottom: 20px;
  height: 230px;
  width: 220px;
  padding: 10px;
}
.skill-text {
  position: absolute;
  bottom: 0px;
  width: auto;
}

.skill-p {
  text-align: left;
}

.footer-link {
  /* z-index: 1; */
  position: inline;
  bottom: -3px;
  padding: 9px;
  justify-content: center;
  align-items: center;
}

#bottom-tag {
  justify-content: center;
  align-items: center;
  /* position: inline; */
  margin: 0px;
  padding:0px;
  display: grid;
}

#the-end {
  position: absolute;
  bottom: -40px;
  font-size: 12px;
}
