:root {
  --background: #d6e9cd;
}

body {
  position: relative;
  background: var(--background);
  font-family: "Merriweather", serif;
  padding: 0px;
  margin: 0px;
  border: 0px;
  display: block;
}
h1 {
  padding: 0;
  margin: 0;
  border: 0px;
  display: block;
  font-size: 5.625rem;
  font-family: "Sacramento", cursive;
  text-align: center;
  color: #132c33;
}
.skill-img {
  display: inline-block;
  width: 150px;
  height: 150px;
}
h2 {
  z-index: 1;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
}
h3 {
  font-family: "Montserrat", sans-serif;
  padding: 0;
}
p {
  font-family: "Merriweather", serif;
  color: #787b7c;
}
#mountains {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#abhi {
  position: relative;
  text-align: center;
  top: 50px;
  z-index: 1;
}
#dev {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
  border: 0 0 0 0;
  bottom: 35px;
}
.top-container {
  position: relative;
  padding-top: 100px;
  position: relative;
  margin-bottom: 100px;
  z-index: -1;
}
.middle-container {
  display: block;
  position: relative;
  padding-top: 100px;
  position: relative;
  padding-bottom: 500px;
  z-index: -1;
}

.bottom-container {
  display: block;
  position: relative;
  padding-top: 100px;
  position: relative;
  padding-bottom: 100px;
  z-index: -1;
}

.contributes {
  font-size: 9px;
  /* text-align: right; */
}

.img-icon {
  width: 30px;
  height: 30px;
}

#container-logo {
  margin-left: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 90px;
  position: absolute;
  z-index: 1;
}

#logo-circle {
  padding: 0;
  border: 0;
  margin: 0;
  background-color: #8aa874;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#A {
  font-size: xx-large;
  z-index: 1;
}

header {
  z-index: 1;
  position: fixed;
  background-color: #132c33;
  width: 100%;
  height: 90px;
  top: 0;
}

nav {
  margin-left: 20px;
}

.skill-row {
  width: 50%;
  position: relative;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 0 60px 0;
}

.float-left {
  float: left;
  padding-right: 50px;
}
.float-right {
  float: right;
  padding-left: 50px;
}

.skill-text {
  position: absolute;
  bottom: -700px;
}

.skill-p {
  text-align: left;
}
