/* ::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: pink;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #132c33;
} */
